{% extends 'base.html '%}
{% block body %}<!DOCTYPE html>

    <!-- Start about-top Area -->
    <section class="about-top-area section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 about-top-left">
            <h1>
              Everything <br>
              You can imagine <br>
              is right here
            </h1>
            <p>
At Maxlon we are privileged to work closely with several leading manufacturers and developers. From time to time they recommend our services for security installation work to prospective clients, giving us the opportunity to quote for projectss            </p>
          </div>
          <div class="col-lg-6 about-top-right">
          </div>
        </div>
      </div>
    </section>
    <!-- End about-top Area -->


    <!-- Start service Area -->
    <section class="service-area section-gap" id="service">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">ABOUT US</h1>
              <p>Who are in extremely love with eco friendly system.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
              </div>
              <div class="detail">
              <h4>Our Expertise</h4></a>
                <p>
                  Vaults delivers excellence in the provision of quality bespoke security solutions. We also design, install and maintain security systems to meet all requirements, especially for schools, academies, local authorities and businesses.
                  Established in 2001 by Managing Director and qualified engineer Hundrix Lumar, and based in the London, we specialise in bespoke security solutions, including: Intruder Alarm Systems, CCTV Security Systems, Access Control and Intercom Systems, Gate Automation and Fire Alarm Systems.                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
              </div>
              <div class="detail">
    <h4>Our Key People</h4></a>
                <p>
                  All of our people, from the directors to the back office team, and from the installers to the service engineers have long experience of bespoke security solutions.

                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
              </div>
              <div class="detail">
            <h4>Key Manufacturers</h4></a>
                <p>
                  Our skill lies in selecting the right products that are required for each and every job. This ensures we are able to provide truly bespoke security solutions and means that our installations only feature the highest quality security products that are available.

                  With new and improved products coming onto the market on a regular basis, this means that we maintain close relationships with the key manufacturers so that we are always up to date with the cutting edge of technology.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End service Area -->

    <!-- Start fact Area -->





  </body>
</html>

{% endblock%}
