{% extends 'base.html' %}
{% block body %}

{% load static %}
<!DOCTYPE html>

    <!-- Start service Area -->
    <section class="service-area service-page-service section-gap" id="service">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">ABOUT US</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
                <img class="img-fluid" src="img/s1.jpg" alt="">
              </div>
              <div class="detail">
                <a href="#"><h4>Secure Vaults Protection</h4></a>
                <p>
                  Vaults delivers excellence in the provision of quality bespoke security solutions. We design, install and maintain security systems to meet all requirements,                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
                <img class="img-fluid" src="img/s2.jpg" alt="">
              </div>
              <div class="detail">
                <a href="#"><h4>Business Protection</h4></a>
                <p>
We protect what matters to you by installing systems tailored to meet your business needs — from basic security to the most technologically advanced in the industry.                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
                <img class="img-fluid" src="img/s3.jpg" alt="">
              </div>
              <div class="detail">
                <a href="#"><h4>Home Security</h4></a>
                <p>
Guardian Protection offers a wide variety of products, combined with 24/7 monitoring, that work together as one complete system to protect your entire home.                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
                <img class="img-fluid" src="img/s1.jpg" alt="">
              </div>
              <div class="detail">
                <a href="#"><h4>Key Manufacturers</h4></a>
                <p>
                  Our skill lies in selecting the right products that are required for each and every job. This ensures we are able to provide truly bespoke security solutions and means that our installations only feature the highest quality security products that are available.

                  With new and improved products coming onto the market on a regular basis, this means that we maintain close relationships with the key manufacturers so that we are always up to date with the cutting edge of technology.                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
                <img class="img-fluid" src="img/s2.jpg" alt="">
              </div>
              <div class="detail">
                <a href="#"><h4>Brake Repairs & Services</h4></a>
                <p>
                  Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-service">
              <div class="thumb">
                <img class="img-fluid" src="img/s3.jpg" alt="">
              </div>
              <div class="detail">
                <a href="#"><h4>Preventive Maintenance</h4></a>
                <p>
                  Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End service Area -->

    <!-- Start feature Area -->




{% endblock %}
