

</ul>
{% extends 'base.html' %}
{% block body %}
{% load static %}

{% for mypic in all_pic  %}

<section class="service-area section-gap" id="service">

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">OUR OFFERED SERVICE</h1>
          <p></p>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-lg-4">
        <div class="single-service">
          <div class="thumb">
            <img class="img-fluid" src="{{mypic.Mypic1.url}}" alt="">
          </div>
          <div class="detail">
            <a href="#"><h4>Customized solutions<br> from real experts</h4></a>
            <p>
Our professional technicians take the time to recommend security and automation solutions specific to your needs.
            </p>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="single-service">
          <div class="thumb">
            <img class="img-fluid" src="{{mypic.Mypic2.url}}" alt="">
          </div>
          <div class="detail">
            <a href="#"><h4> 24/7 professional<br> monitoring </h4></a>
            <p>Call us anytime day or night, and know that a Guardian team member will stay on the phone as long as needed.
           </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <div class="thumb">
            <img class="img-fluid" src="{{mypic.Mypic3.url}}" alt="">
          </div>
          <div class="detail">
            <a href="#"><h4>Private, Secure <br> Vault Storage</h4></a>
            <p>
            We provides you with all the security and peace of mind of owning physical precious metals(Gold & Diamond) along with the convenience of electronic 24/7 Protection.            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->


<!-- Start feature Area -->
<section class="feature-area section-gap" id="feature">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 pb-40 header-text">
        <h1>Some Features that Made us Unique</h1>
        <p>
          Who are in extremely love with eco friendly system.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
          <p>
Information Security Policies, Network Security, Firewall Administration, Statistical Analysis, Reporting Research Results, Attention to Detail, Organization, System Administration, On-Call, Network Protocols, Routers, Hubs, and Switches          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-license"></span>Professional Service</h4>
          <p>
A+ Diamond Security Services Inc is a private security firm based in Baton Rouge, Louisiana. We help business organizations protect their assets by providing emergency response and armed and unarmed security with teams of thoroughly trained and highly qualified individuals.          </p>
        </div>
      </div>




      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-bubble"></span>True Physical Ownership</h4>
          <p>
            100% allocated and segregated in your name only, with 3rd party vaulting and insurance
            Total control of your whole bars and coins. No fractional nonsense.
            You are designated as sole owner.
            Available full segregated storage for institutional-level security.          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->

<!-- Start fact Area -->


<!-- Start galery Area -->
<section class="galery-area section-gap" id="gallery">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Latest From Our Gallery</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <a href="img/g1.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic4.url}}" alt="">
        </a>
      </div>
      <div class="col-lg-5 col-md-6">
        <a href="img/g2.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic5.url}}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-4">
        <a href="img/g3.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic6.url}}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-4">
        <a href="img/g4.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic7.url}}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-4">
        <a href="img/g5.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic8.url}}" alt="">
        </a>
      </div>
      <div class="col-lg-5 col-md-6">
        <a href="img/g6.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic9.url}}" alt="">
        </a>
      </div>
      <div class="col-lg-7 col-md-6">
        <a href="img/g7.jpg" class="single-gallery">
          <img class="img-fluid" src="{{mypic.Mypic10.url}}" alt="">
        </a>
      </div>
    </div>
  </div>

</section>
{% endfor %}

<!-- End galery Area -->

<!-- Start blog Area -->

<!-- End blog Area -->

{% endblock %}
